<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
    <style>
   body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 50px; /* Add a margin to the bottom of the page content */
  }
      p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div style="display: flex; flex-wrap: wrap; margin: 5px">
      <% for (let i = 0; i <numDivs; i++) { %>
      <div
        style="
          width: 80px;
          height: 150px;
          display: flex;
          margin: 10px;
          margin-bottom: 22px;
          padding: 1px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
        "
      >
        <p style="text-align: center; font-size: medium; font-weight: 500">
          I am a NOMAD
        </p>
        <!-- Display the QR code image using the data URL -->
        <img
          style="height: 60px; width: 60px"
          src="<%= qrCodeDataUrl %>"
          alt="QR Code"
        />
        <p style="text-align: center; font-size: small; margin-top: 2px">
          Scan and take part in my journey
        </p>
      </div>
      <% } %>
    </div>
  </body>
</html>
